<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <table>
    <tr>
      <th>Model</th>
      <th>Price</th>
      <th>Owner</th>
    </tr>
    <tr th:each="car : ${allCars}">
      <th th:text="${car.getModel()}">VALUE</th>
      <th th:text="${car.getPrice()}">VALUE</th>
      <th th:text="${car.getOwner()}">VALUE</th>
    </tr>
  </table>
  <!--<th:block th:each="msg : ${messages}">
    <h1 th:text="${msg}"></h1>
  </th:block>-->
</div>
</body>
</html>